![rmotr](https://user-images.githubusercontent.com/7065401/52071918-bda15380-2562-11e9-828c-7f95297e4a82.png)
<hr style="margin-bottom: 40px;">

# Pandas DataFrame exercises

In [22]:
# Import the numpy package under the name np
import numpy as np

# Import the pandas package under the name pd
import pandas as pd

# Import the matplotlib package under the name plt
import matplotlib.pyplot as plt
%matplotlib inline

# Print the pandas version and the configuration
print(pd.__version__)

1.3.4

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

## DataFrame creation

### Create an empty pandas DataFrame

In [23]:
# your code goes here
pd.DataFrame(data=[None],
            index=[None],
            columns=[None])

      NaN
NaN  None

<img width=400 src="https://cdn.dribbble.com/users/4678/screenshots/1986600/avengers.png"></img>

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Create a `marvel_df` pandas DataFrame with the given marvel data

In [24]:
marvel_data = [
    ['Spider-Man', 'male', 1962],
    ['Captain America', 'male', 1941],
    ['Wolverine', 'male', 1974],
    ['Iron Man', 'male', 1963],
    ['Thor', 'male', 1963],
    ['Thing', 'male', 1961],
    ['Mister Fantastic', 'male', 1961],
    ['Hulk', 'male', 1962],
    ['Beast', 'male', 1963],
    ['Invisible Woman', 'female', 1961],
    ['Storm', 'female', 1975],
    ['Namor', 'male', 1939],
    ['Hawkeye', 'male', 1964],
    ['Daredevil', 'male', 1964],
    ['Doctor Strange', 'male', 1963],
    ['Hank Pym', 'male', 1962],
    ['Scarlet Witch', 'female', 1964],
    ['Wasp', 'female', 1963],
    ['Black Widow', 'female', 1964],
    ['Vision', 'male', 1968]
]

In [25]:
# your code goes here
marvel_data

[['Spider-Man', 'male', 1962],
 ['Captain America', 'male', 1941],
 ['Wolverine', 'male', 1974],
 ['Iron Man', 'male', 1963],
 ['Thor', 'male', 1963],
 ['Thing', 'male', 1961],
 ['Mister Fantastic', 'male', 1961],
 ['Hulk', 'male', 1962],
 ['Beast', 'male', 1963],
 ['Invisible Woman', 'female', 1961],
 ['Storm', 'female', 1975],
 ['Namor', 'male', 1939],
 ['Hawkeye', 'male', 1964],
 ['Daredevil', 'male', 1964],
 ['Doctor Strange', 'male', 1963],
 ['Hank Pym', 'male', 1962],
 ['Scarlet Witch', 'female', 1964],
 ['Wasp', 'female', 1963],
 ['Black Widow', 'female', 1964],
 ['Vision', 'male', 1968]]

In [26]:
marvel_df = pd.DataFrame(data=marvel_data)
marvel_df

                   0       1     2
0         Spider-Man    male  1962
1    Captain America    male  1941
2          Wolverine    male  1974
3           Iron Man    male  1963
4               Thor    male  1963
5              Thing    male  1961
6   Mister Fantastic    male  1961
7               Hulk    male  1962
8              Beast    male  1963
9    Invisible Woman  female  1961
10             Storm  female  1975
11             Namor    male  1939
12           Hawkeye    male  1964
13         Daredevil    male  1964
14    Doctor Strange    male  1963
15          Hank Pym    male  1962
16     Scarlet Witch  female  1964
17              Wasp  female  1963
18       Black Widow  female  1964
19            Vision    male  1968

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Add column names to the `marvel_df`

In [27]:
# your code goes here
col_names = ['name', 'sex', 'first_appearance']
marvel_df.columns = col_names
marvel_df

                name     sex  first_appearance
0         Spider-Man    male              1962
1    Captain America    male              1941
2          Wolverine    male              1974
3           Iron Man    male              1963
4               Thor    male              1963
5              Thing    male              1961
6   Mister Fantastic    male              1961
7               Hulk    male              1962
8              Beast    male              1963
9    Invisible Woman  female              1961
10             Storm  female              1975
11             Namor    male              1939
12           Hawkeye    male              1964
13         Daredevil    male              1964
14    Doctor Strange    male              1963
15          Hank Pym    male              1962
16     Scarlet Witch  female              1964
17              Wasp  female              1963
18       Black Widow  female              1964
19            Vision    male              1968

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Add index names to the `marvel_df` (use the character name as index)

In [28]:
# your code goes here
marvel_df.index = marvel_df['name']
marvel_df

                              name     sex  first_appearance
name
Spider-Man              Spider-Man    male              1962
Captain America    Captain America    male              1941
Wolverine                Wolverine    male              1974
Iron Man                  Iron Man    male              1963
Thor                          Thor    male              1963
Thing                        Thing    male              1961
Mister Fantastic  Mister Fantastic    male              1961
Hulk                          Hulk    male              1962
Beast                        Beast    male              1963
Invisible Woman    Invisible Woman  female              1961
Storm                        Storm  female              1975
Namor                        Namor    male              1939
Hawkeye                    Hawkeye    male              1964
Daredevil                Daredevil    male              1964
Doctor Strange      Doctor Strange    male              1963
Hank Pym                  Hank Pym    male              1962
Scarlet Witch        Scarlet Witch  female              1964
Wasp                          Wasp  female              1963
Black Widow            Black Widow  female              1964
Vision                      Vision    male              1968

In [29]:
marvel_df

                              name     sex  first_appearance
name
Spider-Man              Spider-Man    male              1962
Captain America    Captain America    male              1941
Wolverine                Wolverine    male              1974
Iron Man                  Iron Man    male              1963
Thor                          Thor    male              1963
Thing                        Thing    male              1961
Mister Fantastic  Mister Fantastic    male              1961
Hulk                          Hulk    male              1962
Beast                        Beast    male              1963
Invisible Woman    Invisible Woman  female              1961
Storm                        Storm  female              1975
Namor                        Namor    male              1939
Hawkeye                    Hawkeye    male              1964
Daredevil                Daredevil    male              1964
Doctor Strange      Doctor Strange    male              1963
Hank Pym                  Hank Pym    male              1962
Scarlet Witch        Scarlet Witch  female              1964
Wasp                          Wasp  female              1963
Black Widow            Black Widow  female              1964
Vision                      Vision    male              1968

In [30]:
number = int(in)

SyntaxError: invalid syntax (3059666115.py, line 1)

In [31]:
# your code goes here
marvel_df = marvel_df.drop(['Namor', 'Hank Pym'], axis = 0)
marvel_df

                              name     sex  first_appearance
name
Spider-Man              Spider-Man    male              1962
Captain America    Captain America    male              1941
Wolverine                Wolverine    male              1974
Iron Man                  Iron Man    male              1963
Thor                          Thor    male              1963
Thing                        Thing    male              1961
Mister Fantastic  Mister Fantastic    male              1961
Hulk                          Hulk    male              1962
Beast                        Beast    male              1963
Invisible Woman    Invisible Woman  female              1961
Storm                        Storm  female              1975
Hawkeye                    Hawkeye    male              1964
Daredevil                Daredevil    male              1964
Doctor Strange      Doctor Strange    male              1963
Scarlet Witch        Scarlet Witch  female              1964
Wasp                          Wasp  female              1963
Black Widow            Black Widow  female              1964
Vision                      Vision    male              1968

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

## DataFrame selection, slicing and indexation

### Show the first 5 elements on `marvel_df`

In [32]:
# your code goes here
marvel_df.iloc[0:5]

                            name   sex  first_appearance
name
Spider-Man            Spider-Man  male              1962
Captain America  Captain America  male              1941
Wolverine              Wolverine  male              1974
Iron Man                Iron Man  male              1963
Thor                        Thor  male              1963

In [33]:
#marvel_df.loc[['Spider-Man', 'Captain America', 'Wolverine', 'Iron Man', 'Thor'], :] # bad!
#marvel_df.loc['Spider-Man': 'Thor', :]
#marvel_df.iloc[0:5, :]
#marvel_df.iloc[0:5,]
marvel_df.iloc[:5,]
#marvel_df.head()

                            name   sex  first_appearance
name
Spider-Man            Spider-Man  male              1962
Captain America  Captain America  male              1941
Wolverine              Wolverine  male              1974
Iron Man                Iron Man  male              1963
Thor                        Thor  male              1963

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Show the last 5 elements on `marvel_df`

In [34]:
# your code goes here
marvel_df.tail()

                          name     sex  first_appearance
name
Doctor Strange  Doctor Strange    male              1963
Scarlet Witch    Scarlet Witch  female              1964
Wasp                      Wasp  female              1963
Black Widow        Black Widow  female              1964
Vision                  Vision    male              1968

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Show just the sex of the first 5 elements on `marvel_df`

In [35]:
# your code goes here
marvel_df

                              name     sex  first_appearance
name
Spider-Man              Spider-Man    male              1962
Captain America    Captain America    male              1941
Wolverine                Wolverine    male              1974
Iron Man                  Iron Man    male              1963
Thor                          Thor    male              1963
Thing                        Thing    male              1961
Mister Fantastic  Mister Fantastic    male              1961
Hulk                          Hulk    male              1962
Beast                        Beast    male              1963
Invisible Woman    Invisible Woman  female              1961
Storm                        Storm  female              1975
Hawkeye                    Hawkeye    male              1964
Daredevil                Daredevil    male              1964
Doctor Strange      Doctor Strange    male              1963
Scarlet Witch        Scarlet Witch  female              1964
Wasp                          Wasp  female              1963
Black Widow            Black Widow  female              1964
Vision                      Vision    male              1968

In [36]:
#marvel_df.iloc[:5,]['sex'].to_frame()
marvel_df.iloc[:5,].sex.to_frame()
#marvel_df.head().sex.to_frame()

                  sex
name
Spider-Man       male
Captain America  male
Wolverine        male
Iron Man         male
Thor             male

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Show the first and last elements on `marvel_df`

In [37]:
# your code goes here
marvel_df.iloc[[0,-1],1]

name
Spider-Man    male
Vision        male
Name: sex, dtype: object

In [38]:
#marvel_df.iloc[[0, -1],][['sex', 'first_appearance']]
marvel_df.iloc[[0, -1],]

                  name   sex  first_appearance
name
Spider-Man  Spider-Man  male              1962
Vision          Vision  male              1968

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

## DataFrame manipulation and operations

### Modify the `first_appearance` of 'Vision' to year 1964

In [42]:
# your code goes here
marvel_df.loc['Vision','first_appearance'] = 1964
marvel_df

                              name     sex  first_appearance
name
Spider-Man              Spider-Man    male              1962
Captain America    Captain America    male              1941
Wolverine                Wolverine    male              1974
Iron Man                  Iron Man    male              1963
Thor                          Thor    male              1963
Thing                        Thing    male              1961
Mister Fantastic  Mister Fantastic    male              1961
Hulk                          Hulk    male              1962
Beast                        Beast    male              1963
Invisible Woman    Invisible Woman  female              1961
Storm                        Storm  female              1975
Hawkeye                    Hawkeye    male              1964
Daredevil                Daredevil    male              1964
Doctor Strange      Doctor Strange    male              1963
Scarlet Witch        Scarlet Witch  female              1964
Wasp                          Wasp  female              1963
Black Widow            Black Widow  female              1964
Vision                      Vision    male              1964

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Add a new column to `marvel_df` called 'years_since' with the years since `first_appearance`

In [44]:
# your code goes here
marvel_df['years_since'] = 2022 - marvel_df['first_appearance']
marvel_df

                              name     sex  first_appearance  years_since
name
Spider-Man              Spider-Man    male              1962           60
Captain America    Captain America    male              1941           81
Wolverine                Wolverine    male              1974           48
Iron Man                  Iron Man    male              1963           59
Thor                          Thor    male              1963           59
Thing                        Thing    male              1961           61
Mister Fantastic  Mister Fantastic    male              1961           61
Hulk                          Hulk    male              1962           60
Beast                        Beast    male              1963           59
Invisible Woman    Invisible Woman  female              1961           61
Storm                        Storm  female              1975           47
Hawkeye                    Hawkeye    male              1964           58
Daredevil                Daredevil    male              1964           58
Doctor Strange      Doctor Strange    male              1963           59
Scarlet Witch        Scarlet Witch  female              1964           58
Wasp                          Wasp  female              1963           59
Black Widow            Black Widow  female              1964           58
Vision                      Vision    male              1964           58

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

## DataFrame boolean arrays (also called masks)

### Given the `marvel_df` pandas DataFrame, make a mask showing the female characters

In [46]:
# your code goes here
mask = marvel_df['sex'] == 'female'
mask

name
Spider-Man          False
Captain America     False
Wolverine           False
Iron Man            False
Thor                False
Thing               False
Mister Fantastic    False
Hulk                False
Beast               False
Invisible Woman      True
Storm                True
Hawkeye             False
Daredevil           False
Doctor Strange      False
Scarlet Witch        True
Wasp                 True
Black Widow          True
Vision              False
Name: sex, dtype: bool

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the `marvel_df` pandas DataFrame, get the male characters

In [47]:
# your code goes here
mask = marvel_df['sex'] == 'male'
marvel_df[mask]

                              name   sex  first_appearance  years_since
name
Spider-Man              Spider-Man  male              1962           60
Captain America    Captain America  male              1941           81
Wolverine                Wolverine  male              1974           48
Iron Man                  Iron Man  male              1963           59
Thor                          Thor  male              1963           59
Thing                        Thing  male              1961           61
Mister Fantastic  Mister Fantastic  male              1961           61
Hulk                          Hulk  male              1962           60
Beast                        Beast  male              1963           59
Hawkeye                    Hawkeye  male              1964           58
Daredevil                Daredevil  male              1964           58
Doctor Strange      Doctor Strange  male              1963           59
Vision                      Vision  male              1964           58

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the `marvel_df` pandas DataFrame, get the characters with `first_appearance` after 1970

In [48]:
# your code goes here
mask = marvel_df['first_appearance'] > 1970
marvel_df[mask]

                name     sex  first_appearance  years_since
name
Wolverine  Wolverine    male              1974           48
Storm          Storm  female              1975           47

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the `marvel_df` pandas DataFrame, get the female characters with `first_appearance` after 1970

In [49]:
# your code goes here
mask = (marvel_df['sex'] == 'female') & (marvel_df['first_appearance'] > 1970)
marvel_df[mask]

        name     sex  first_appearance  years_since
name
Storm  Storm  female              1975           47

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

## DataFrame summary statistics

### Show basic statistics of `marvel_df`

In [50]:
# your code goes here
marvel_df.describe()

       first_appearance  years_since
count         18.000000    18.000000
mean        1962.888889    59.111111
std            6.720372     6.720372
min         1941.000000    47.000000
25%         1962.000000    58.000000
50%         1963.000000    59.000000
75%         1964.000000    60.000000
max         1975.000000    81.000000

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the `marvel_df` pandas DataFrame, show the mean value of `first_appearance`

In [51]:
# your code goes here
marvel_df.first_appearance.mean()

1962.888888888889

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the `marvel_df` pandas DataFrame, show the min value of `first_appearance`

In [52]:
# your code goes here
marvel_df.first_appearance.min()

1941

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the `marvel_df` pandas DataFrame, get the characters with the min value of `first_appearance`

In [53]:
# your code goes here
mask = marvel_df['first_appearance'] == marvel_df.first_appearance.min()
marvel_df[mask]

                            name   sex  first_appearance  years_since
name
Captain America  Captain America  male              1941           81

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

## DataFrame basic plottings

### Reset index names of `marvel_df`

In [55]:
# your code goes here
marvel_df = marvel_df.reset_index()
marvel_df

ValueError: cannot insert name, already exists

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Plot the values of `first_appearance`

In [ ]:
# your code goes here

In [ ]:
#plt.plot(marvel_df.index, marvel_df.first_appearance)
marvel_df.first_appearance.plot()

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Plot a histogram (plot.hist) with values of `first_appearance`

In [ ]:
# your code goes here

In [ ]:

plt.hist(marvel_df.first_appearance)

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

In [ ]:
print(number2)

In [ ]:
number1 = int(input("Please enter a number :"))
number2 = int(input("Please enter another number :"))
print(number1)